* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
/*Josh Comeau's CSS Reset: 
https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}

/* Add styles here! */

h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 3rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

.intro-chunk {
  max-width: 415px;
  padding: 8px 16px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

header {
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}
main {
  background-color: hsl(0deg, 0%, 40%);
}

.max-width-wrapper {
  max-width: 800px;
  margin: auto;
  padding: 48px 0px;
}

.card {
  padding: 24px;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

.indented-heading {
  width: fit-content;
  margin-left: -32px;
  margin-top: -16px;
  background-color: hsl(45deg, 100%, 50%);
  padding: 16px 32px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}

p {
  margin: 16px 0px;
}
